.logo-content-boton{
    display:flexbox;
    flex-wrap: nowrap;
}
.d-flex .logo{
    position: absolute;
    top: 0%;
    left:10%;
    width: 15rem;
    height: 13rem;

}
.d-flex p{
    display:flex;
    margin-left:2%;
    top:38%;
    font-size: 2.3rem;
    color: rgb(180, 143, 70);
    text-shadow: -1px 0 #000000ce, 0 1px #000000ce, 1px 0 #000000ce, 0 -1px #000000ce;
    position: absolute;
}
.buttons{
    display:flex;
    margin-left:7%;
    top:50%;
    position: absolute;
}
.buttons .btn{
    border-color: rgb(221,159,38);
    background: rgb(221,159,38); 
    border-radius: 2rem 2rem; 
    padding: 0;            /* Quitar el relleno interno */
    margin: 0;             /* Quitar el margen externo */
    box-shadow: none;      /* Quitar la sombra */
    text-decoration: none; /* Poner decoraciones del texto*/
    color: inherit;        /* Heredar el color del texto del elemento padre */
    font: inherit;         /* Heredar la fuente del elemento padre */
    cursor: pointer;       /* Mostrar el cursor de mano */
    outline: none; 
    color: rgb(0, 0, 0);
    width:8rem;
    text-shadow: -1px 0 rgb(221,159,38), 0 1px rgb(221,159,38), 1px 0 rgb(221,159,38), 0 -1px rgb(221,159,38);
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 3px;
    margin-left:.5rem
}
.buttons .btn:hover{
    color:white;
}

.nameLog{
    position: absolute;
    top: 31%; 
    left: 18%;
    transform: translate(-50%, -50%);
    color:rgb(221,159,38);
    text-shadow: -1px 0 #000000ce, 0 1px #000000ce, 1px 0 #000000ce, 0 -1px #000000ce;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
}

.video-background {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.video-background video {
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
}

@media (max-width: 768px) {

    .d-flex .logo {
  
      display: none;
  
    }
    .nameLog{
        
        display: none;
    }
  
  }
  
  