/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.inicio {
    color: #b91010;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
  }