.suggestions-container {
    width: 100%;
    height: 100vh; 
    padding: 20px;
    background: -webkit-linear-gradient(180deg, #000000,#636363,#c1c4bf);                         
	background: linear-gradient(180deg, #000000,#636363,#c1c4bf);
    border-radius: 0;
    box-shadow: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.suggestions-container h1 {
    text-align: center;
    color: rgb(221, 159, 38);
    margin-bottom: 20px;
}
.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
}
.suggestion-item {
    background-color: #FFFFFF;
    border: 2.5px solid rgb(221, 159, 38);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}
.suggestion-item:hover {
    background-color: #111;
}
.form-suggestion {
    margin-bottom: 20px;
    width: 100%;
}
.form-suggestion label {
    font-weight: bold;
    color: rgb(221, 159, 38);
}
.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 2.5px solid rgb(221, 159, 38); /* Bordes más finos para mayor armonía */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFFFFF; /* Fondo negro para la consistencia */
    color: #000000;
}
.btn-primary {
    background-color: transparent;
    color: rgb(221, 159, 38);
    border: 2px solid rgb(221, 159, 38);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-primary:hover {
    background-color: rgb(221, 159, 38);
    border-color: rgb(221, 159, 38);
    color: #000;
}

